<div class="container">
  <app-nav [signIn]=true style="width: 100%"></app-nav>
  <div class="container__inner">
    <div class="title">
      <div class="title__text">Responses</div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let item of arrOfFields">{{item.label}}</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let worksheet of arrOfWorksheets">
            <td *ngFor="let val of getAnswer(worksheet)">
              {{val?.answer}}
            </td>
          </tr>
      </tbody>

    </table>
    <div class="mat-paginator">
      <ngb-pagination [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="arrOfAnswers.length">
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>

    </div>
  </div>
</div>

