<div class="container">
  <app-nav style="width: 100%"></app-nav>
  <div class="container__inner">
    <div class="title">
      <div class="title__text">Fields</div>
      <div class="title__button-container">
       <app-add-field></app-add-field>
      </div>


    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="big-column">Label</th>
        <th scope="col" class="big-column">Type</th>
        <th scope="col">Required</th>
        <th scope="col">Is Active</th>
        <th scope="col" class="small-column"></th>
        <th scope="col" class="small-column"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of arr">
        <td>FGHJK</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <mat-icon>edit</mat-icon>
        </td>
        <td>
          <mat-icon>delete</mat-icon>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mat-paginator">
      <ngb-pagination [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="arr.length">
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>

    </div>
  </div>
</div>

