<div class="container">
  <app-nav [signIn]=true style="width: 100%"></app-nav>
  <div class="container__inner">
    <div class="title">
      <div class="title__text">Fields</div>
      <div class="title__button-container">
        <app-add-field [text]="'Add field'" [buttonAdd]=true></app-add-field>
      </div>


    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="big-column">Label</th>
        <th scope="col" class="big-column">Type</th>
        <th scope="col">Required</th>
        <th scope="col">Is Active</th>
        <th scope="col" class="small-column"></th>
        <th scope="col" class="small-column"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of arr">
        <td>Name</td>
        <td>Single line text</td>
        <td>true</td>
        <td>true</td>
        <td>
          <app-add-field [text]="'Edit field'" [buttonAdd]=false></app-add-field>
        </td>
        <td>
          <mat-icon>delete</mat-icon>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mat-paginator">
      <ngb-pagination [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="arr.length">
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>

    </div>
  </div>
</div>

