<div class="container">
  <app-nav [signIn]=true style="width: 100%"></app-nav>
  <div class="container__inner">
    <div class="title">
      Change Password
    </div>
    <div class="form" [formGroup]="formGroup">
      <label>Current Password<input type="password" formControlName="Password"></label>
      <label>New Password<input type="password" formControlName="NewPassword"></label>
      <button [disabled]="!formGroup.valid" [class.disabled]="!formGroup.valid" (click)="changePassword()">CHANGE
      </button>
    </div>
  </div>
</div>



