<div class="container">
  <app-nav style="width: 100%"></app-nav>
  <div class="container__inner">
    <div class="title">
      Change Password
    </div>
    <div class="form" [formGroup]="formGroup">
      <label>Current Password<input type="password" formControlName="Password"></label>
      <label>New Password<input type="password" formControlName="Password"></label>
      <label>Confirm New Password<input type="password" formControlName="Password"></label>
      <button>CHANGE</button>
    </div>
  </div>
</div>



