<div class="container">
  <app-nav [signIn]=true style="width: 100%"></app-nav>
    <div class="container__inner">
      <div class="title">
        Edit Profile
      </div>
      <div class="form" [formGroup]="formGroup">
        <label>First Name<input type="text" formControlName="Name"></label>
        <label>Last Name<input type="text" formControlName="Name"></label>
        <label>Email<input type="email" formControlName="Username"></label>
        <label>Phone Number<input type="text" formControlName="Phone"></label>
        <button>SAVE</button>
      </div>
    </div>
  </div>



