.my {
  height: 100%;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  font-weight: bold;
}

.disabled {
  background-color: lightgrey !important;
  border: none !important;
}

.red{
  color: red;
}

label {
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 0px;
  color: black;

  &__inner {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
  }
}

.title {
  font-size: 23px;
  display: flex;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;

  & input {
    border-radius: 5px;
    border: darkgrey 1px solid;
    color: darkgrey;
    margin: 7px 7px;
  }

  & button {
    height: 34px;
    justify-self: center;
    background-color: dodgerblue;
    color: aliceblue;
    border-radius: 5px;
    border: 1px dodgerblue solid;
  }

  .single-line-input {
    height: 40px;
    width: 95%;
  }

  .multiline-input {
    height: 100px;
    width: 95%;
    margin: 10px 7px ;
  }

  .option {
    margin: 10px;
    width: 95%;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 95%;
    margin-bottom: 40px;
  }

  .save-button{
    margin: 0px auto;
  }

}


