<div class="container">
  <app-nav [signIn]=false style="width: 100%"></app-nav>
  <div class="container__inner">
    <div class="title">
    </div>
    <div class="form">
      <div *ngFor="let item of arr">
        <div>
          {{item.label}}
        </div>
        <div *ngIf="item.type === 1" class="text">
          <input type="text">
        </div>
        <div *ngIf="item.type === 2" class="text">
          <textarea rows="5"></textarea>
        </div>
        <div class= "one-answer"*ngIf="item.type === 3">
          <label *ngFor="let n of item.options"><input type="radio">{{n}}</label>
        </div>
        <div *ngIf="item.type === 4">
          <label *ngFor="let n of item.options"><input type="checkbox">{{n}}</label>
        </div>
        <div *ngIf="item.type === 5">
          <select class="form-control">
            <option *ngFor="let n of item.options">{{n}}</option>
          </select>
        </div>
        <div *ngIf="item.type === 6">
          <div class="input-group date" data-provide="date-picker">
            <input type="text" class="form-control">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>

        </div>
      </div>
      <button>SUBMIT</button>
    </div>
  </div>
</div>
