<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{text}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body my-modal-body">
    <div class="form" [formGroup]="formGroup">
      <div>Label <input class="input-class" type="text" formControlName="Label"></div>
      <div class="select-option">Type
        <select class="form-control form-control1702" id="selecttype" formControlName="Type">
          <option *ngFor="let type of types">
            {{type.viewValue}}
          </option>
        </select>
      </div>
      <div class="options" *ngIf="findTypeIndex() !== 1 &&
                                  findTypeIndex() !== 2 &&
                                  findTypeIndex() !== 6 ">
        Options
        <input class="input-class-option" type="email" formControlName="Option" placeholder="Enter with comma and space">
      </div>
      <div class="checked">
        <div class="checked__left">
          <input type="checkbox" (click)="required()">
          <label>Required</label>
        </div>
        <div class="cheched__right">
          <input type="checkbox" (click)="active()">
          <label>Is Active</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark my-button-white" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="title__button my-button-blue"
            [disabled]="formGroup.invalid"
            (click)="addField(); d('Cross click');">Save
    </button>
  </div>
</ng-template>

<button class="title__button" (click)="open(content)" *ngIf="buttonAdd">
  <mat-icon class="mat-add-icon">close</mat-icon>
  <a>ADD FIELD</a></button>

<mat-icon (click)="open(content)" *ngIf="!buttonAdd">edit</mat-icon>
